  
  /** Home **/
  
  .intro {
    transform: translateY(25vh);
    text-align: center;
    .avatar {
      padding: 10px;
      img {
        width: 128px;
        height: auto;
        background-color: #afc6e9;
        display: inline-block;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 0.2em #f2f2f2;
        box-shadow: 0 0 0 0.2em #f2f2f2;
        margin: 0 auto;
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
        cursor: pointer;
        .dark-theme & {
          background-color: #f2f2f2;
          -webkit-box-shadow: 0 0 0 0.2em #afc6e9;
          box-shadow: 0 0 0 0.2em #afc6e9;
        }
        &:hover {
          position: relative;
          -webkit-transform: translateY(-0.75em);
          -moz-transform: translateY(-0.75em);
          -ms-transform: translateY(-0.75em);
          -o-transform: translateY(-0.75em);
          transform: translateY(-0.75em);
          cursor: pointer;
        }
      }
    }
  }
  
  h2.description {
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
  }
  
  .social-links {
    a {
    
      padding: 0 5px;
      &:hover {
       
        background-color: transparent;
      }
    }
    .fab {
      font-size: 1.28571429em;
      text-align: center;
    }
    .fas {
      font-size: 1.28571429em;
      text-align: center;
    }
  }

.btn {
  background-color: $dark-global-link-color;
  border: none;
  border-radius: 25px;
  color: black;
  padding: 8px 18px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  transition: 0.3s;
  .dark-theme & {
    color: $light-global-link-color;
  }
}

.btn:hover {
  background-color: #ddd;
  color: $light-global-link-hover-color;
  .dark-theme & {
    color: $dark-global-link-hover-color;
  }
}

hr.garis { 
  border: 1px solid;
  text-align: center;
  width: 250px;
  margin: auto;
}
